
p{
    margin: 0px;
}

body{
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h4{
    margin-bottom: 3px;
    
}

h2{
    
    line-height: 1.2;
    letter-spacing: -.1rem;
    margin-top: 0;
    font-weight: 300;
    font-size: 4rem;
}

.container{
    padding: 5rem;
    margin: 2rem;
}

.entryInput{
    display: flex;
    justify-content: space-between;
}

input{
  height: 38px;
  width: 200%;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

input:focus { 
    outline: 1px solid #33C3F0; 
}
 
select{
  height: 38px;
  width: 100%;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

select:focus { 
    outline: 1px solid #33C3F0; 
}

.submit button{
  height: 38px;
  width: 10%;
  padding: 6px 10px;
  margin-top: 1rem;
  color: aliceblue;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-shadow: none;
  box-sizing: border-box;
  background-color: #33C3F0;
  border-color: #33C3F0;
}

.entry{
    display: flex;
    margin: 1rem;
    margin-left: 0px;
    align-items: center;
    justify-content: space-between;
}

.entry h4{
    margin: 0px;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: lighter;
    
}

.entry button{
    height: 38px;
    width: 5rem;
    padding: 6px 10px;
    background-color: #fff;
    border: 1px solid #D1D1D1;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
}

.delete button{
  padding: 6px 10px;
  color: aliceblue;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-shadow: none;
  box-sizing: border-box;
  background-color: rgb(228, 26, 103);
}

.bookName,.authorName,.delete,.read{
    max-width: 25%;
    min-width: 25%;
}
